.goBack {
  max-width: 1070px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: left;
  padding-top: 25px;
  cursor: pointer;
  margin-bottom: 25px;
}

.container {
  max-width: 1110px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.wrapper {
  display: flex;
  padding: 0px 15px;
  gap: 30px;
}
.formWrapper {
  max-width: 710px;
  width: 100%;
  padding: 54px 40px;
  background-color: white;
  border-radius: 10px;
}

.background {
  background: #f1f1f1;
}
.summary {
  border-radius: 10px;
  background-color: white;
  max-width: 350px;
  width: 100%;
  padding: 32px;
  min-height: 400px;
  height: 100%;
}

.formTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
  margin-bottom: 41px;
}

.details {
  font-family: Manrope;
  font-size: 13px;
  margin-top: 25px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.9285714030265808px;
  text-align: left;
  color: #d87d4a;
}

.formInput {
  gap: 10px;
  display: flex;
}
.formInput1 {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.payment {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2142857164144516px;
  text-align: left;
}
label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2142857164144516px;
  text-align: left;
}
.wrapper {
  margin-bottom: 100px;
}

.summaryTitle {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
  margin-bottom: 31px;
}

.summaryCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summaryCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summaryWrap {
  display: flex;
  gap: 15px;
}
.summaryImg {
  width: 70px;
  height: 70px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summaryImg img {
  width: 40px;
  object-fit: cover;
}

.summaryText {
  display: flex;
  flex-direction: column;
}
.summaryCardTitle {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.summaryPrice {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}
.summarySum {
  opacity: 0.5;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
}
.texts {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.texts h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.texts p {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
}

.summaryButton {
  background-color: #d87d4a;
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 50px;
  width: 100%;
  margin-top: 15px;
}

@media screen and (max-width: 1045px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 707px) {
  .formInput,
  .formInput1 {
    flex-direction: column;
  }
}
